# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

arc/Debug/arc.Build.CppClean.log
arc/Debug/arc.log
arc-project.opensdf
arc-project.v12.suo
arc-project.v12.suo
arc-project.sdf
arc-project.sdf
arc-project.sdf
*.obj
*.lastbuildstate
*.tlog
*.idb
*.pdb
arc/Debug/vc120.pdb

Debug/*
external/*
*.ipch

Release/*

*.log

arc/Release/*
arc/Debug/*
playground/Release/*
playground/Debug/*
*.lib
*.dll
*.ilk
*.lib
*.arc
*.blend
